body {
	background-color: #282c34 !important;
	font-family: Raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#tsparticles {
	height: 100%;
	width: 100%;
	position: absolute;
}

.rs-content > div:not(:last-child) {
	margin: 4rem 1rem 0 1rem;
}

.rs-navbar-brand {
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1000;
}

.swarm-container {
	height: 90vh;
}

.message-live {
	text-align: center;
	width: 80%;
}

.rs-message-body {
	color: black !important;
	font-size: 20px;
	font-family: orbitron, sans-serif;
}

.table-wrapper {
	margin-top: 4rem;
	padding: 0 0 3rem 0;
	color: #ffee00;
	background-image: url('https://starterra.io/image/starterratlo.jpg');
	box-shadow: inset 0 45px 50px 0px rgba(40, 44, 52, 1);
}

.table-wrapper > div {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 6rem 6rem 6rem;
}

@media screen and (max-width: 600px) {
	.table-wrapper > div {
		padding: 0.5rem;
	}
}

.pie-container {
	height: 40vh;
}

.footer {
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: rgb(26, 29, 36);
	font-weight: bold;
}

.footer-text {
	background-color: rgb(26, 29, 36);
	z-index: 1000;
	position: relative;
	padding: 6px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.footer-heart {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.rs-panel-header {
	color: #ffee00;
}

.rs-panel-body {
	padding-left: 0;
	padding-right: 0;
}

.githubCornerWithFocus {
	position: relative;
	z-index: 2000;
}

.githubCornerWithFocus:focus {
	outline: 2px solid #7aacfe !important;
}

.tittle {
	text-align: center;
	color: #ffee00;
	margin-bottom: 2rem;
}
